body {
    margin: 0px;
}
.container, .main_content {
    display: flex;
}

.main_content {
    flex-direction: column;
}

.left_menu {
    width: 280px;
    /*background: #3e74c7;*/
}
.main_content, .top_nav_bar {
    /*margin-right: 0px;*/
    flex-grow: 1;
}
.left_menu, .main_content {
    height: 100%;
    /*float: left;*/
}
.top_nav_bar {
    height: 60px;
    line-height: 60px;
}
.main_content_1 {
    height: calc( 100% - 60px );
    /*background: #e7edf8;*/
}
