/*#left_menu_li_dashboard {
    background: #7b3f004 !important;
    background: -webkit-linear-gradient(-90deg, #7b3f004,#a9a9a9,#FEFCFF) !important;
    background: -o-linear-gradient(-90deg, #7b3f004,#a9a9a9,#FEFCFF) !important;
    background: -moz-linear-gradient(-90deg, #7b3f004,#a9a9a9,#FEFCFF) !important;
    background: linear-gradient(-90deg, #7b3f004,#a9a9a9,#FEFCFF) !important;
    color: #7b3f004 !important;
    font-weight: bold;
    font-size: 28px;
}
#circle_inside_dashboard {
    display: block;
}*/
