/*#left_menu_li_main {
    background: #492500 !important;
    background: -webkit-linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    background: -o-linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    background: -moz-linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    background: linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    color: #492500 !important;
    font-weight: bold;
    font-size: 28px;
}
#circle_inside_main {
    display: block;
}*/
