/*#left_menu_li_main {
    background: #545454 !important;
    background: -webkit-linear-gradient(-90deg, #545454,#a9a9a9,#ffffff) !important;
    background: -o-linear-gradient(-90deg, #545454,#a9a9a9,#ffffff) !important;
    background: -moz-linear-gradient(-90deg, #545454,#a9a9a9,#ffffff) !important;
    background: linear-gradient(-90deg, #545454,#a9a9a9,#ffffff) !important;
    color: #545454 !important;
    font-weight: bold;
    font-size: 28px;
}
#circle_inside_main {
    display: block;
}*/
