/*#left_menu_li_list {
    background: #492500 !important;
    background: -webkit-linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    background: -o-linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    background: -moz-linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    background: linear-gradient(-90deg, #492500,#a9a9a9,#FEFCFF) !important;
    color: #492500 !important;
    font-weight: bold;
    font-size: 28px;
}
#circle_inside_list {
    display: block;
}*/

/*Make this become scrollable to avoid crashing GUI*/
.main_content_1{
    overflow-y: scroll;
    overflow: auto;
    padding: 5px;
}
/*-------------------------------------------------*/
.sub_content {
    height: 325px;
    width: 300px;
    margin: 10px;
    /*display: flex;*/
    /*background: #FEFCFF;
    padding: 10px;
    border: 1px solid #492500;
    */
    float: left;
}
.sub_content_img {
    height: 300px;
    width: 300px;
    border: 1px solid #492500;
}
.sub_content_caption {
    height: 25px;
    /*position: absolute;
    float: left;*/
    background: transparent !important;
}
