/* cyrillic-ext */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(/font/v8_72sD3DYMKyM0dn3LtWrvyoBhTDX6xHW8QOb1GM7Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(/font/v8_72sD3DYMKyM0dn3LtWtNWGkeg1LyFsXzbZA1bkTQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(/font/v8_72sD3DYMKyM0dn3LtWpoN9YtdppI3iZaqWmzbQxo.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(/font/v8_72sD3DYMKyM0dn3LtWq3U1TLxoQk6-OAqjZFIaJc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(/font/v8_72sD3DYMKyM0dn3LtWv_TTS9ENtVKaiibjCpIzfo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(/font/v8_72sD3DYMKyM0dn3LtWmYKogTrBb-Yb2DFwx30qLM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.color_background {
    background: #FEFCFF;
}
.color_darkder {
    background: #7b3f00;
    color: #FEFCFF;
    font-family: 'Didact Gothic';font-size: 20px;
}
.color_lighter {
    background: #FEFCFF;
    color: #7b3f00;
    font-family: 'Didact Gothic';font-size: 45px;
    font-weight: bold;
}
.color_content {
    background: #FEFCFF;
    color: #7b3f00;
    font-family: 'Didact Gothic';font-size: 20px;
    font-weight: normal;
}
.circle {
    margin: calc((100% - 20px)/2);
    /*margin: 40% 20% 40% 20%;*/
    width: 20px;
    height: 20px;
	background: #ffffff;
	-moz-border-radius: calc(50%);
	-webkit-border-radius: calc(50%);
	border-radius: calc(50%);
    float: left;
}
.circle_inside {
    margin: 20%;
    /*margin: 40% 20% 40% 20%;*/
    width: 60%;
    height: 60%;
    display: none;
	background: #7b3f00;
	-moz-border-radius: calc(50%);
	-webkit-border-radius: calc(50%);
	border-radius: calc(50%);
}
.gradient {
    background: #7b3f00 !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #7b3f00,#a9a9a9,#FEFCFF) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #7b3f00,#a9a9a9,#FEFCFF) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #7b3f00,#a9a9a9,#FEFCFF) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #7b3f00,#a9a9a9,#FEFCFF) !important; /* Standard syntax */
    color: #7b3f00 !important;
    font-weight: bold;
    /*font-size: 24px;*/
}
