.left_menu_header_icon {
    width: inherit;
    height: 200px;
    margin: 25px;
}

.header_img_div {
    height: 250px;
    width: inherit;
}

.left_menu_header {
    width: inherit;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #9966cc;
    font-family: Century Gothic, sans-serif;
    font-size: 30px;
}

.left_menu_ul {
    /*list-style-image: url('/img/icon_circle_information.png');*/
    /*list-style-image: none !important;*/
    list-style-type:none;
    padding:0px;
    margin:0px;
    /*margin:0px !important;*/
    width: inherit;
    height: auto;
}

.left_menu_li {
    width: inherit;
    height: 40px;
    background: #50c878;
    margin: 2px;
    display: flex;
}

.left_menu_li_div_left {
	width: 40px;
    background: #e0115f;
    /*float:left;*/
}

.left_menu_li_div_right {
    line-height: 40px;
    text-align: center;
}

.left_menu_li_div_left, .left_menu_li_div_right {
    height: 100%;
    cursor:pointer;
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
}

.left_menu_li_div_right {
    /*overflow: auto;*/
    flex-grow: 1;
}

.left_menu_li_div_right:hover {
    background: #FFc878;
    font-size: 25px;
}
