<html>
<head>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/color.css">
    <link rel="stylesheet" type="text/css" href="/main/css/common.css">
    <link rel="stylesheet" type="text/css" href="/main/css/index.css">
    <title>OSDC Administrator</title>
</head>
<body>
    <div class="container">
        <div class="left_menu" id="left_menu"></div>
        <script>$("#left_menu").load("leftmenu.html");</script>
        <div class="main_content" id="main_content">
            <div class="top_nav_bar" id="top_nav_bar"></div>
            <script>$("#top_nav_bar").load("topnavbar.html");</script>
            <div class="main_content_1 color_background" id="main_content_1"></div>
        </div>
    </div>
    <script type="text/javascript" src="/main/js/index.js"></script>
</body>
</html>
