<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="css/left_menu.css"> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/main/css/main.css">
    <title>OSDC Administrator</title>
</head>
<body>
    <div class="left_menu" id="left_menu"></div>
    <script>$( "#left_menu" ).load("leftmenu.html");</script>
    <div class="main_content" id="main_content"></div>
    <script>$( "#main_content" ).load("dashboard");</script>
    <!-- <script type="text/javascript" src="js/left_menu.js"></script> -->
</body>
</html>
