<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/main/css/common.css">
    <link rel="stylesheet" type="text/css" href="/main/css/list.css">
    <title>OSDC Administrator</title>
</head>
<body>
    <div class="container">
        <div class="left_menu" id="left_menu"></div>
        <script>$("#left_menu").load("leftmenu.html");</script>
        <div class="main_content" id="main_content">
            <h1 style="font-family: Century Gothic, sans-serif;">THIS IS LIST</h1>
        </div>
    </div>
</body>
</html>
