<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/left_menu.css">
    <link rel="stylesheet" type="text/css" href="css/color.css">
<body>
    <div id="left_menu_container" class="left_menu_container color_0">
        <div class="header_img_div color_0"><img class="left_menu_header_icon" src="img/if_world.png"></div>
        <div class="left_menu_header color_1" id="left_menu_header">Menu list</div>
        <ul class="left_menu_ul">
            <li class="left_menu_li">
                <div class="left_menu_li_div_left color_1"></div>
                <div class="left_menu_li_div_right color_2" id="left_menu_li_main">Main</div>
            </li>
            <li class="left_menu_li">
                <div class="left_menu_li_div_left color_1"></div>
                <div class="left_menu_li_div_right color_2" id="left_menu_li_list">List</div>
            </li>
            <li class="left_menu_li">
                <div class="left_menu_li_div_left color_1"></div>
                <div class="left_menu_li_div_right color_2" id="left_menu_li_dashboard">Dashboard</div>
            </li>
            <!-- <li class="left_menu_li">
                <div class="left_menu_li_div_left"></div>
                <div class="left_menu_li_div_right" id="left_menu_li_4">List</div>
            </li> -->
        </ul>
    </div>
    <script type="text/javascript" src="js/left_menu.js"></script>
</body>
</html>
