<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/left_menu.css">
<body>
    <div id="left_menu_container" class="left_menu_container">
        <div class="left_menu_header" id="left_menu_header">MenuHeader</div>
        <ul class="left_menu_ul">
            <li class="left_menu_li">
                <div class="left_menu_li_div_left"></div>
                <div class="left_menu_li_div_right" id="left_menu_li_1">Menu1</div>
            </li>
            <li class="left_menu_li">
                <div class="left_menu_li_div_left"></div>
                <div class="left_menu_li_div_right" id="left_menu_li_2">Menu2</div>
            </li>
            <li class="left_menu_li">
                <div class="left_menu_li_div_left"></div>
                <div class="left_menu_li_div_right" id="left_menu_li_3">Menu3</div>
            </li>
            <li class="left_menu_li">
                <div class="left_menu_li_div_left"></div>
                <div class="left_menu_li_div_right" id="left_menu_li_4">Menu4</div>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="js/left_menu.js"></script>
</body>
</html>
