<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/left_menu.css">
    <link rel="stylesheet" type="text/css" href="css/color.css">
<body>
    <div id="left_menu_container" class="left_menu_container color_darkder">
        <div class="header_img_div color_darkder"><img class="left_menu_header_icon" src="img/if_world.png"></div>
        <!-- <div class="left_menu_li_div_inset color_lighter"></div> -->
        <div class="left_menu_header color_darkder" id="left_menu_header">MENU LIST</div>
        <ul class="left_menu_ul">
            <div class="left_menu_li_div_inset color_lighter"></div>
            <!-- Menu main -->
            <li class="left_menu_li" id="left_menu_li_main">Main
                <div class="left_menu_li_div_left color_darkder">
                    <div class="circle"><div class="circle_inside" id="circle_inside_main"></div></div>
                </div>
                <!-- <div class="left_menu_li_div_right color_darkder">Main</div> -->
            </li>
            <div class="left_menu_li_div_inset color_lighter"></div>
            <!-- Menu List -->
            <li class="left_menu_li" id="left_menu_li_list">List
                <div class="left_menu_li_div_left color_darkder">
                    <div class="circle"><div class="circle_inside" id="circle_inside_list"></div></div>
                </div>
                <!-- <div class="left_menu_li_div_right color_darkder">List</div> -->
            </li>
            <div class="left_menu_li_div_inset color_lighter"></div>
            <!-- Menu Dashboard -->
            <li class="left_menu_li" id="left_menu_li_dashboard">Dashboard
                <div class="left_menu_li_div_left color_darkder">
                    <div class="circle"><div class="circle_inside" id="circle_inside_dashboard"></div></div>
                </div>
                <!-- <div class="left_menu_li_div_right color_darkder">Dashboard</div> -->
            </li>
            <div class="left_menu_li_div_inset color_lighter"></div>
        </ul>
    </div>
    <script type="text/javascript" src="js/left_menu.js"></script>
</body>
</html>
