<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/menu_bar.css">
    <link rel="stylesheet" type="text/css" href="css/color.css">
</head>
<body>

<div class="container">
  <a href="#home" class="color_darkder_16px">Home</a>
  <a href="#news" class="color_darkder_16px">News</a>
  <div class="dropdown color_darkder_16px">Dropdown
    <!-- <button class="dropbtn" class="color_darkder_16px">Dropdown</button> -->
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a href="#news" class="color_darkder_16px">Link</a>
</div>
</body>
</html>
